<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="empresas"
            dataKey="id"
            [lazy]="true"
            expandableRows="true" 
            (onLazyLoad)="loadEmpresas($event)"
            [paginator]="true" 
            [rows]="rows" 
            [totalRecords]="totalRecords" 
            [loading]="loading"
            [rowsPerPageOptions]="rowsPerPageOptions" [globalFilterFields]="['ruc','razonSocial','nombreDuenio','telefono']" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th> 
                    
                    <th pSortableColumn="ruc">RUC <p-sortIcon field="ruc"></p-sortIcon></th>
                    <th pSortableColumn="razonSocial">Razón Social <p-sortIcon field="razonSocial"></p-sortIcon></th>
                    <th pSortableColumn="nombreDuenio">Nombre del Dueño <p-sortIcon field="nombreDuenio"></p-sortIcon></th>
                    <th pSortableColumn="telefono">Teléfono <p-sortIcon field="telefono"></p-sortIcon></th>
                    <th pSortableColumn="createdAt">F. Registro <p-sortIcon field="createdAt"></p-sortIcon></th>
                    <th pSortableColumn="deletedAt">Estado <p-sortIcon field="deletedAt"></p-sortIcon></th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
        
            <ng-template pTemplate="body" let-empresa let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="empresa" 
                                class="p-button-text p-button-rounded p-button-plain" 
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                        </button>
                    </td>
        
                    <td>{{empresa.ruc}}</td>
                    <td>{{empresa.razonSocial}}</td>
                    <td>{{empresa.nombreDuenio}}</td>
                    <td>{{empresa.telefono}}</td>
                    <td>{{empresa.createdAt | date:'short'}}</td>
                    <td>
                        <p-tag [severity]="!empresa.deletedAt ? 'success' : 'danger'" 
                               [value]="!empresa.deletedAt ? 'ACTIVA' : 'DESACTIVADA'"
                               [rounded]="true">
                        </p-tag>
                    </td>
                    <td>
                       <div class="flex">
                            <ng-container *ngIf="!empresa.deletedAt">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmpresa(empresa)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEmpresa(empresa)"></button>
                            </ng-container>
                            <ng-container *ngIf="empresa.deletedAt">
                                <button pButton pRipple icon="pi pi-refresh" class="p-button-rounded p-button-primary" (click)="restaurarEmpresa(empresa)"></button>
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </ng-template>
        
            <ng-template #expandedrow let-empresa>
                <tr>
                    <td colspan="8">
                        <div class="p-3">
                            <span class="font-bold block mb-2">Sucursales de {{empresa.razonSocial}}</span>
                            
                            <p-table [value]="empresa.sucursales" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Dirección</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-sucursal>
                                    <tr>
                                        <td>{{sucursal.nombre}}</td>
                                        <td>{{sucursal.direccion}}</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="2">No hay sucursales registradas.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="empresaDialog" [style]="{width: '450px'}" header="Detalles de Empresa" [modal]="true" styleClass="p-fluid">
            
            <ng-template pTemplate="content">
                <div [formGroup]="form">
                    
                    <div class="field mb-3">
                        <label for="ruc" class="font-bold">RUC</label>
                        <input type="text" pInputText id="ruc" formControlName="ruc" 
                               class="w-full" 
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && form.controls['ruc'].invalid}"/>
                        
                        <div *ngIf="submitted && form.controls['ruc'].invalid" class="p-error block">
                            <small *ngIf="form.controls['ruc'].errors?.['required']">El RUC es requerido.</small>
                            <small *ngIf="form.controls['ruc'].errors?.['pattern']">El RUC debe tener exactamente 11 números.</small>
                        </div>
                    </div>
            
                    <div class="field mb-3">
                        <label for="razonSocial" class="font-bold">Razón Social</label>
                        <input type="text" pInputText id="razonSocial" formControlName="razonSocial" 
                               class="w-full" 
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && form.controls['razonSocial'].invalid}"/>
                        <small class="p-error block" *ngIf="submitted && form.controls['razonSocial'].invalid">La razón social es requerida.</small>
                    </div>
            
                    <div class="field mb-3">
                        <label for="nombreDuenio" class="font-bold">Nombre del Dueño</label>
                        <input type="text" pInputText id="nombreDuenio" formControlName="nombreDuenio" 
                               class="w-full"
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && form.controls['nombreDuenio'].invalid}"/>
                        <small class="p-error block" *ngIf="submitted && form.controls['nombreDuenio'].invalid">El nombre es requerido.</small>
                    </div>
            
                    <div class="field mb-3">
                        <label for="telefono" class="font-bold">Teléfono</label>
                        <input type="text" pInputText id="telefono" formControlName="telefono" 
                               class="w-full"
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && form.controls['telefono'].invalid}"/>
                        <div *ngIf="submitted && form.controls['telefono'].invalid" class="p-error block">
                            <small *ngIf="form.controls['telefono'].errors?.['required']">El teléfono es requerido.</small>
                            <small *ngIf="form.controls['telefono'].errors?.['pattern']">Solo se aceptan números.</small>
                        </div>
                    </div>

                </div>
            </ng-template>
        
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveEmpresa()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEmpresaDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="empresa">¿Estás seguro de DESACTIVAR la empresa <b>{{empresa.razonSocial}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteEmpresaDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="restoreConfirmDialog" header="Confirmar Activación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-refresh mr-3" style="font-size: 2rem; color: var(--primary-color)"></i>
                <span *ngIf="empresa">¿Estás seguro de RESTAURAR la empresa <b>{{empresa.razonSocial}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="restoreConfirmDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmRestaurar()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="saveConfirmDialog" header="Confirmar Guardado" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-question-circle mr-3" style="font-size: 2rem; color: var(--primary-color)"></i>
                <span>¿Estás seguro de guardar los cambios?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="saveConfirmDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmSave()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>